/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*.w-500{
  width: 500px;
}*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;

  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.main_wrapper{
  max-width: 500px;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
.icon_eye, .icon_bell{
  width: 3.125rem;
  height: 3.125rem;
}
.line-height-4{
  line-height: 4rem;
}
.categorey-icon{
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 1.25rem;
  justify-content: center;
  display: block;
}
.search{
  width: 100%;
  border: solid 3px #000;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  vertical-align: middle;
  padding: 0.7rem 0.2rem;
  height: auto;
  border-radius: 2.5rem;
  font-family: Pretendard;
  cursor: pointer;
  caret-color: transparent;
}
/*로그인 영역*/
.login_input{
  border: 1px solid #000;
  border-radius: 1.5rem;
  text-align: center;
  margin: auto;
  margin-bottom: 0.8rem;
}
.login-btn{
  background: #333333;
  border: 1px solid #f4f4f4;
  color:#ffffff;
  text-align: center;
  border-radius: 1.5rem;
}
.join-btn{
  background: #f4f4f4;
  border: 1px solid #333333;
  color: #333333;
}
/*회원가입 영역*/
.singForm_box{
  border: 1px solid #000;
  border-radius: 1.5rem;
  margin: auto;
  margin-bottom: 0.8rem;
}
/*장바구닌*/
.page_header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid #000;
}
.header-left{
  width: 80%;
}
.header-right{
  display: flex;
  width: auto;
}
.cart_option_box{
  width: 100%;
  border: 2px solid #333333;

}
.cart_option_box .product_name{
  padding: 1.875rem 2.375rem 0 2.375rem;
  display: flex;
}
.header-right img{
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
/* 상품 상세 페이지 */
.pd_tap{
  width: 100%;
}
.pd_tap ul{
  width: 100%;
  display: flex;
}
.pd_tap ul li{
  width: 33.3%;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #999;
  padding: 1rem 0;
}
/*메인 화면*/
.pd_list{
  width: 100%;
  padding: 4.5rem 0;
}
.pd_list ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.pd_list ul li{
  display: block;
  width: 50%;
  padding: 0.4rem;
}
.hr_black6{
  border: 0 !important;
  border-top: 3px solid #000 !important;
  margin: 0;
}
/*푸터*/
.tab_bar {
  width: 100%;
  /* max-width: 420px; */
  /* max-width: 500px; */
  /* height: 60px; */
  background-color: #000;
  color: #ffffff;
  z-index: 100;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  transition: All 0.3s ease !important;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
  /* box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.15), 0 -6px 6px rgba(0, 0, 0, 0.18); */
  max-width: 500px;
}
.tab_bar ul{
  width: 100%;
  /* height: 60px; */
  display: flex;
  height: inherit;
  padding: 1rem 0;
}
.tab_bar ul li{
  width: 20%;
  /* height: 60px; */
  text-align: center;
  align-items: center;
  color: #fff;
  /* padding: 9px 0; */
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_tab_hamburger, .icon_tab_search, .icon_tab_home, .icon_tab_my_info, .icon_tab_cart{
  width: 2rem;
  height: 2rem;
  margin-top: 0.125rem;
  margin-bottom: 5px;
  margin: auto;
}
.tab_bar ul li .tab_bar_text{
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  /* bottom: 9px; */
  left: 50%;
  width: 100%;
  font-size: 1rem;
  bottom: 0;
  text-align: center;
}
.cart_btn{
  width: 120px;
  background: #999999;
  border: 1px solid #333333;
  color: white;
}
/* 로그인 */
.login_sns{
  display: flex;
  width: 100%;
  justify-content: center;
}
.login_sns button{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: 5.625rem;
  height: 5.625rem;
  margin-right: 2rem;
}
.icon_naver_logo{
  background-color: #47b749;
}
.icon_google_logo{
  background-color: #efefef;
}
.icon_kakao_logo{
  background-color: #f6e24b;
}
.login_text{
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
  margin-top: 2rem;
}